*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
header{
    background-color: rgb(52, 129, 153);
    padding: 1em;
}
h1{
    color: white;
    text-align: center;
}
div.counter{
    margin: 1em auto;
    text-align: center;
}
div.counter span{
    font-size: 3em;
}
div.row{
    padding-top: 1em;
    width: 100%;
    height: 4em;
    white-space: nowrap;
    text-align: center;
}
.col{
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border-radius: 15px;
    box-shadow: 0 6px rgb(182, 182, 182);

}
.col:active{
    transform: translateY(3px);
    box-shadow: 0 3px #666;

}

#minus{
    background-color: red;
}
#minus:hover{
    background-color: rgb(223, 0, 0);
    cursor: pointer;
}
#plus{
    background-color: rgb(92, 192, 92);
}
#plus:hover{
    background-color: rgb(73, 161, 73);
    cursor: pointer;

}
#reset{
    background-color: rgb(94, 169, 192);
}
#reset:hover{
    background-color: rgb(70, 140, 197);
    cursor: pointer;

}